---
server_name: steinwies.ch
mailer:
  from: '"Steinwies" <steinwies@example.org>'
  to:
    - steinwies@example.org
  server:
  domain: example.org
  port: 8006
  auth: plain
  user: steinwies@example.org
  pass:
