<VirtualHost *:80>
  Servername steinwies.ch
  ServerAlias www.steinwies.ch *.steinwies.ch
  DirectoryIndex index.html index.rbx
  DocumentRoot /var/www/steinwies.ch/git/steinwies.ch/doc
  AddOutputFilterByType SUBSTITUTE text/html
  SetEnv DOCUMENT_ROOT /var/www/steinwies.ch/git/steinwies.ch/doc
  ProxyPass         / http://127.0.0.1:8006/
  ProxyPassReverse  / http://127.0.0.1:8006/
  ProxyPreserveHost on
  ErrorLog  "|/usr/sbin/cronolog -l /var/www/steinwies.ch/log/error_log /var/www/steinwies.ch/log/%Y/%m/%d/2_error_log"
  CustomLog "|/usr/sbin/cronolog -l /var/www/steinwies.ch/log/access_log /var/www/steinwies.ch/log/%Y/%m/%d/2_access_log" combined
</VirtualHost>

## webalizer
<Directory "/var/www/steinwies.ch/webalizer">
  Options None
  AllowOverride None
  Order allow,deny
  Allow from all
</Directory>

<VirtualHost *:80>
  DocumentRoot /var/www/steinwies.ch/webalizer
  ServerName webalizer.steinwies.ch
  DirectoryIndex index.html
</VirtualHost>
